body {
  width: 300px;
  height: 270px;
  text-align: center;
}

h1,
.conversion-output {
  color: rgb(47, 136, 127);
}

.output-value {
  color: brown;
}

.output-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy-btn {
  height: 20px;
  margin-left: 10px;
  display: none;
}
